<!-- global footer-------------------------------------------------------------- -->
<footer>
  <div class="col col-1">
    <h3>Follow Us</h3>
    <p class="social-links">
      <a href="https://www.instagram.com/wealthpsychology.in?igsh=MTFlZDZucnBsMW81dQ==" target="_blank" rel="noopener noreferrer" title="Follow us on Instagram"><i class="fa-brands fa-instagram"></i></a>
      <!-- <a href="https://www.facebook.com/YourFacebookPage" target="_blank" rel="noopener noreferrer"><img src="/footer/icons/fb.ico" alt="Facebook"></a> -->
      <a href="https://www.youtube.com/@WealthPsychology_YT" target="_blank" rel="noopener noreferrer" title="Subscribe to our YouTube channel"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://x.com/ka_r_an5?t=2mZ7z_fCKVW4ZSgQ2kCpFA&s=09" target="_blank" rel="noopener noreferrer" title="Follow us on Twitter"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/ka-r-an5?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer" title="Connect with us on LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    </p>
  </div>

  <div class="col col-2">
    <h3>Support</h3>
    <p>
      <a href="/contact-us/" class="footer-link"
        >Contact Us
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </p>
  </div>

  <div class="col col-3">
    <h3>About Us</h3>
    <p>
      <a href="/about-us/" class="footer-link">About Us <i class="fa-solid fa-arrow-up-right-from-square"></i> </a><br />
      <a href="/our-team/" class="footer-link"
        >Our Team
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </p>
  </div>

  <div class="col col-4">
    <h3>Disclaimer</h3>
    <p>
      <a href="/terms-of-use/" class="footer-link">Terms of Use <i class="fa-solid fa-arrow-up-right-from-square"></i> </a><br />
      <a href="/privacy-policy/" class="footer-link"
        >Privacy Policy
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </p>
  </div>

  <div class="col col-5">
    <h3>Our Plans</h3>
    <p>
      <a href="/our-plans/" class="footer-link">Our Plans <i class="fa-solid fa-arrow-up-right-from-square"></i> </a><br />
    </p>
  </div>

  <div class="broker-account">
    <h3>Open an account with</h3>
    <p class="broker-links">
      <a href="https://zerodha.com/open-account?c=ZMQ676" target="_blank" rel="noopener noreferrer" title="Open an account with Zerodha"><img src="/frontend/components/footer/icons/zk.ico" alt="Trading Broker Account" /></a>
      <a href="https://signup.fyers.in/?utm-source=Customer-Referral&utm-medium=XK17821" target="_blank" rel="noopener noreferrer" title="Open an account with Fyers"><img src="/frontend/components/footer/icons/fyers.ico" alt="Trading Broker Account" /></a>
    </p>
  </div>

  <p class="legal">WealthPsychology &copy; 2024. All rights reserved.</p>
</footer>
