<header id="modules-header">
  <nav>
    <div class="menu-toggle" id="menu-bars">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="brand-logo-container">
      <a href="/index.html" class="home-nav">
        <img src="/assets/branding/logo.webp" alt="Brand Logo" class="brand-logo" />
      </a>
    </div>

    <!-- heading is being added dynamically -->
    <h1>.</h1> 

    <ul class="nav-menu">
      <li><a href="/index.html" class="active">Home</a></li>
      <li><a href="/finance-news/">Finance News</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/financial-calculators/">Financial Calculators</a></li>
      <li><a href="/plans/">Our Plans</a></li>
    </ul>
  </nav>
</header>
