<header id="fincalculators-header" >
  <nav>
    <div class="menu-toggle" id="menu-bars">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="brand-logo-container">
      <a href="/index.html" class="home-nav">
        <img src="/assets/branding/logo.webp" alt="Brand Logo" class="brand-logo" />
      </a>
    </div>

    <ul class="nav-menu">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/finance-news/">Finance News</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/financial-calculators/" class="active">Financial Calculators</a></li>
      <li><a href="/finance-quizzes/">Finance Quizzes</a></li>
    </ul>
  </nav>
</header>
