/* Button styles */
/* #dark-mode-toggle-container { */
  /* top: 7px;
  right: 120px; */
  /* position: absolute; */
 /*  width: 40px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
  z-index: 1000;
} */

#dark-mode-toggle-container {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
   /*  display: flex;
    align-items: center;
    justify-content: center; */
    transition: transform 0.3s, background-color 0.3s;
  }

#dark-mode-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}

