/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #370700;
}

/* Header styles via header components*/

/* main content styling  */

.cc-container {
  max-width: 750px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.cc-container section {
  margin-bottom: 20px;
  background-color: #ddb5af;
  padding: 2px 15px 25px 15px;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}


.cc-container h2 {
  color: #333;
  font-size: 1.3em;
  margin-bottom: 10px;
}


details {
  padding-left: 30px;
  padding-right: 50px;
}

/* Base styles for the details summary */
details summary {
  padding: 10px;
  background-color: #f9f9f9;
  margin: 5px 0;
  border-left: 5px solid #ff0d00;
  border-radius: 5px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


/* Style when the summary is hovered or focused */
details summary:hover,
details summary:focus {
  background-color: #9f0101;
  color: white;
}

/* Change background color when the details element is open */
details[open] summary {
  background-color: #9f0101;
  color: white;
}


/* List styles inside .bosm-container */
.cc-container ul {
  margin-top: 0;
  padding-left: 20px;
  list-style-position: inside;
  padding-right: 30px;
}

.cc-container ul li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 5px 10px;
  border-left: 5px solid #26ff00;
  color: #555;
  cursor: pointer;
  border-radius: 5px;
  text-indent: -10px;
  padding-left: 20px; /* Add padding to the left for proper spacing */
}


.cc-container ul li:hover {
  background-color: #0c7a00;
  color: white;
}

/* Style for the bullet point */
.cc-container ul li::marker {
  font-size: 1.3em;
  /* color: orange; */
}

@media (max-width: 768px) {
  .cc-container {
    /* max-width: 100%; */
    width: 90%;
    margin-top: 50px;
  }

  .cc-container h2 {
    font-size: 1.1em;
  }

  details {
    padding-left: 15px;
    padding-right: 10px;
  }

  details summary {
    font-size: 15px;
  }

  .cc-container ul {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
